.blog-banner {
  width: 100%;
  max-width: 1200px; /* Same container width as BlogHeader */
  margin: 0 auto;
  padding: 0 12px;
  background: rgb(255 245 238);
}

.blog-banner-row {
  display: flex;
  gap: 15px; /* space between images */
  justify-content: center;
  flex-wrap: wrap; /* wrap on small screens */
  padding-left: 80px;
  padding-right: 80px;
}

.blog-banner-row p {
  font-size: 1.3rem;
  color: #444;
  line-height: 1.7;
  margin-bottom: 25px;
  text-align: center;
}

.blog-intro {
  margin-top: 40px;
  text-align: center;
  padding: 60px;

  @media (max-width: 768px) {
    margin-top: 20px;
  }
}

.blog-intro h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #222;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

.blog-intro p {
  font-size: 1.1rem;
  color: #444;
  line-height: 1.5;
  margin-bottom: 25px;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.blog-intro h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #158a68;

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

.blog-banner-img {
  flex: 1 1 calc(50% - 10px); /* 50% minus half of gap */
  height: 400px; /* fixed height for uniformity */
  object-fit: cover;
  border-radius: 8px;
}

/* Bottom banner smaller height */
.blog-banner-img.bottom {
  height: 400px; /* same as top to make them uniform */
}

/* Call to Action Styles */
.cta-section {
  text-align: center;
  padding: 10px 12px;
  max-width: 800px;
  margin: 0 auto;
}

.cta-section h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #0d0d0d;
}

.cta-section em {
  font-style: italic;
}

.cta-section p {
  margin-top: 8px;
  font-size: 1rem;
  color: #333;
}
.get-in-touch {
  cursor: pointer;
}
.get-in-touch-btn {
  background-color: #477e6a; /* green */
  color: #fff;
  border: none;
  padding: 12px 28px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.get-in-touch-btn:hover {
  background-color: #158a68; /* darker green on hover */
}

.cta-button-wrapper {
  margin-top: 20px;
}

/* Content section styles */
.blog-content {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 12px;
}

.blog-content h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.blog-content h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 8px;
}

.blog-content p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .blog-banner-img,
  .blog-banner-img.bottom {
    flex: 1 1 100%; /* full width on tablets and smaller */
    height: 250px; /* 👈 same fixed height */
    object-fit: cover;
  }
}

@media (max-width: 480px) {
  .blog-banner-img,
  .blog-banner-img.bottom {
    height: 180px; /* 👈 same size for both images on small mobile */
  }
}
